<!-- adapted from https://sarahleejane.github.io/learning/python/2015/08/09/simple-tables-in-webapps-using-flask-and-pandas-with-python.html -->

<!doctype html>

<title>Summary Statistics by Zip Code</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
  <style>
    <img src="https://imgur.com/gallery/h5EHEZo.jpg">
  </style>
</body>
<div class=page>
  <h1>Zip Statistics</h1>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
</div>
