<!-- Starter HTML adapted from Previous Boston DSI https://github.com/hixjas/Project-4-Zillow -->
<!DOCTYPE html>
<html>
<head>
	<title>Zip Code Statistics</title>
</head>

<center>
<h1 style="border-radius: 5px;
background: #0121; padding: 3px; width: 700px;
height: 50px;line-height:150%;">Hurricane Impact on Real Estate Sale Prices</h1>
</center>

<body>
<style>
		body {
		background-image: url("");
		background-repeat: no-repeat;
		background-size: 1500px 600px;
		}
</style>
	<center><p>{{error_message}}</p>
	<form action="/submit" style="border-radius: 5px; background: #0137; padding: 2px; width: 300px; height: 200px;line-height:200%;"
	<h3>
		<p><label for=zip>Zip Code</label><br><input type="number" name=zip min="1000" max="99999" style="width: 80px; height: 20px; background-color:gainsboro;"></p>
		<p><button type="submit" style="width: 200px; height: 45px; font-size: 25px; color:dimgray; background-color:gainsboro;">Submit</button></p>
	</h3>
	</form>
  </center>
</body>

<center>
<h4>Disclaimer: For inference purposes only.</h4>
</center>

</html>
